@keyframes blink {

  0%,
  to {
    opacity: 0
  }

  50% {
    opacity: 1
  }
}

@font-face {
  font-family: "ComicMono";
  src: url(/css/ComicMono.ttf)format("truetype")
}

:root {
  --accent-color: rgba(5, 172, 5, 0.85);
  --background: #222;
  --foreground: rgb(128, 128, 128, 0.85);
  font-size: 95%;
  max-width: 250ch;
  margin-left: auto;
  margin-right: auto
}

html {
  overflow-y: scroll;
  color: var(--foreground);
  background-color: var(--background);
  -ms-text-size-adjust: 100%
}

body {
  font-family: "ComicMono";
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  padding: .75em .75em 5em
}

a {
  color: var(--accent-color);
  text-decoration: none
}

a:hover {
  text-decoration: underline;
  cursor: pointer
}

a:active,
a:hover {
  outline: 0
}

::-moz-selection,
a::-moz-selection {
  background: #fff;
  color: #000
}

::selection,
a::selection {
  background: #fff;
  color: #000
}

a[href^="https://"]:not([href*="dombrovskij.de"]):not([href*="nmap.org"]]):after {
  content: "↗"
}

p {
  text-align: justify;
  margin: 0 0 1em
}

img {
  display: block;
  max-width: 100%;
  margin: 1.5em auto;
  border: .5px solid var(--foreground)
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ComicMono";
  color: var(--accent-color);
  line-height: 1em;
  margin-bottom: .25em;
  margin-top: 0
}

h1>a {
  all: unset;
  color: inherit
}

h1::before {
  content: "# "
}

h2::before {
  content: "## "
}

h3::before {
  content: "### "
}

h4::before {
  content: "#### "
}

h5::before {
  content: "##### "
}

h1,
h4,
h5,
h6 {
  padding-bottom: 0;
  padding-top: 1em
}

h1 {
  font-size: 1.3em
}

h2,
h3 {
  font-size: 1.2em
}

h4,
h5,
h6 {
  font-size: 1.1em
}

blockquote {
  color: rgb(255, 140, 0, .85);
  border-left: 3px solid rgb(255, 140, 0, .85);
  padding-left: 20px
}

.sourceCode,
code,
kbd,
samp {
  font-family: "ComicMono";
  color: var(--accent-color)
}

.sourceCode {
  background: #282828;
  color: var(--foreground);
  font-size: .95em;
  display: block;
  white-space: pre-wrap
}

.sourceCode>code {
  padding: 0
}

.sourceCode pre {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px
}

pre {
  word-wrap: break-word;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 0;
  overflow: auto
}

b,
strong {
  font-weight: 700
}

dfn {
  font-style: italic
}

ins,
mark {
  color: #000
}

ins {
  background: #ff9;
  text-decoration: none
}

mark {
  background: #ff0;
  font-style: italic;
  font-weight: 700
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

li p:last-child,
ol,
ul {
  margin: 0
}

dd {
  margin: 0 0 0 2em
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

td {
  vertical-align: top
}

@media only screen and (max-width:768px) {
  label {
    visibility: hidden
  }

  .toc,
  label {
    display: none
  }

  video {
    width: 100%
  }
}

@media (min-width:1600px) {
  body {
    max-width: 45%;
    font-size: 90%
  }

  .headersubtitle {
    font-size: 130%
  }
}

@media (min-width:1200px) and (max-width:1600px) {
  body {
    max-width: 85%;
    font-size: 90%
  }

  .headersubtitle {
    font-size: 120%
  }
}

@media (max-width:1200px) {
  body {
    max-width: 95%;
    font-size: 90%
  }

  .headersubtitle {
    font-size: 120%
  }
}

@media (max-width:768px) {
  body {
    max-width: 95%;
    font-size: 90%
  }

  .headersubtitle {
    font-size: 120%
  }
}

@media (max-width:576px) {
  body {
    max-width: 95%;
    font-size: 85%
  }

  .headersubtitle {
    font-size: 90%
  }
}

@media print {
  * {
    background: 0 0 !important;
    color: #000 !important;
    filter: none !important;
    -ms-filter: none !important
  }

  body {
    font-size: 12pt;
    max-width: 100%
  }

  a,
  hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid #000
  }

  .ir a:after,
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""
  }

  blockquote,
  pre {
    border: 1px solid #999;
    padding-right: 1em
  }

  blockquote,
  img,
  pre,
  tr {
    page-break-inside: avoid
  }

  h2,
  h3,
  p {
    page-break-after: avoid
  }
}

nav {
  text-align: left
}

bttn>a,
nav>a {
  all: unset;
  color: var(--foreground)
}

bttn>a,
bttn>a:hover,
nav>a,
nav>a:hover {
  text-decoration: none
}

bttn,
bttn>a:hover,
mark.orange,
nav,
nav>a:hover {
  color: var(--accent-color)
}

input {
  display: none;
  visibility: hidden
}

input:not(:checked)+label {
  color: var(--background);
  background: var(--accent-color);
  padding-left: .5em;
  padding-right: .5em
}

input:hover+label {
  color: var(--background);
  background: var(--accent-color);
  padding-left: .5em;
  padding-right: .5em
}

label {
  display: block;
  position: fixed;
  color: var(--foreground);
  background: var(--background);
  left: 95%;
  top: 1em;
  padding: .1rem .5rem .1em .5em;
  border: 1px solid var(--accent-color)
}

#toggle:checked~.toc {
  display: none
}

.toc>ul>li:first-child {
  display: none
}

p.date {
  font-size: 13px;
  color: #666
}

ul.articles {
  list-style: none;
  padding: 0
}

#Articles {
  margin-top: 2em
}

footer {
  font-size: 11px;
  text-align: left;
  line-height: 1.2em
}

hr {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #333
}

.mobileonly {
  color: var(--accent-color);
  display: block
}

@media only screen and (min-width:768px) {
  .mobileonly {
    display: none
  }
}

.headercontainer {
  position: relative
}

.headerimage {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0
}

.headersubtitle {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255, .85);
  text-align: center;
  background-color: var(--background);
  padding-left: 10px;
  padding-right: 10px
}