</article>

<footer>

    <hr>
  
    <p class="mobileonly">
      i'm not a webdev i can't do sites for mobile >.<
    </p>

    <a href="https://nmap.org"><img src="/img/nmap_bnr_matrix_iain.gif"></a><br>
  
    there are no javascript files or any tracking in this website<br>
    if you want me to know you visited my website then shoot me an email at >hello [at] dombrovskij [dot] de<<br>  
    gehosted von <a href="https://www.manitu.de/webhosting/">manitu</a><br>
    Build [<a href="https://gitlab.com/0xd4d0/dombrovskij" target="_blank" rel="noopener">REPLACEBUILD</a>, REPLACEBUILDTIMEs]<br>
    [<a href="/./impressum.html">impressum</a>]

  </footer>
  
