<h1 style="display: none;">home</h1><h1>posts</h1>
 [2025-02-03] <a href="/./posts/crto_review.html"> a review of the red team operator certification</a><br>
i recently passed the crto exam and this is my review<br><br>


[2025-01-12] <a href="/./posts/reflections.html"> reflections on fatherhood</a><br>
reflections on fatherhood after 1 year<br><br>


[2024-11-10] <a href="/./posts/reflexions.html">reflexions on fatherhood after one year</a><br>
reflexitions on fatherhood after one year<br><br>


