<h1>posts</h1>
[2025-02-03] <a href="/./posts/crto_review.html"> a review of the red team operator certification</a></br>

[2025-01-12] <a href="/./posts/reflections.html"> reflections on fatherhood</a></br>

[2024-11-10] <a href="/./posts/reflexions.html">reflexions on fatherhood after one year</a></br>

[2024-02-10] <a href="/./impressum.html">impressum</a></br>

[2024-02-10] <a href="/./gdpr.html">gdpr</a></br>

[2022-07-10] <a href="/./posts/gletschersturz.html">gletschersturz</a></br>

